
@media screen and (min-width: 360px) {
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 20px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  animation-name: appear;
  animation-duration: 500ms;
}

.modal-dialog {
  width: 500px;
  min-height: 400px;
  background: #F5F8FF;
  position: relative;
  padding: 30px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modal-header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}


.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-body {
  overflow: auto;
}

.modal-content {
  padding: 1rem;
  margin: 10px;
}
}

@media screen and (min-width: 1500px) {
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    animation-name: appear;
    animation-duration: 500ms;
  }
  
  .modal-dialog {
    width: 500px;
    min-height: 400px;
    background: #F5F8FF;
    position: relative;
    padding: 30px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .modal-header {
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
  }
  
  
  .modal-close {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-body {
    overflow: auto;
  }
  
  .modal-content {
    padding: 1rem;
    margin: 10px;
  }
  }

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}