.addtask {
 display: flex;
 flex-direction: column;
 width: 90%;
 gap: 20px;
}

.addtask__title {
  display: flex;
  padding: 10px;
  width: 100%;
  border: 1px solid #d2d7e6;
  border-radius: 4px;
  background-color: #ECF1FC;
}

.addtask__priority {
  display: flex;
  padding: 10px;
  width: 100%;
  border: 2px solid #d2d7e6;
  border-radius: 4px;
  background-color: #ECF1FC;

}

.addtask__description {
  width: 100%;
  display: flex;
  padding: 10px;
  border: 1px solid #d2d7e6;
  border-radius: 4px;
  background-color: #ECF1FC;
}

.addtask__title:hover {
  border: 3px solid #87a1fd;
}

.addtask__priority:hover {
  border: 3px solid #87a1fd;
}

.addtask__description:hover {
  border: 3px solid #87a1fd;
}

.addtask__title:focus {
  border: 3px solid #6888FF;
}

.addtask__priority:focus {
  border: 3px solid #6888FF;
}

.addtask__description:focus {
  border: 3px solid #6888FF;
}

.addtask__btn {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
    background: #3D4F9F;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    color: #FFFFFF;
    flex-wrap: nowrap;
  }

.addtask__btn:hover {
  background: #5E81FE;
  cursor: pointer;
}
