@media screen and (max-width: 1023px) and (min-width: 360px) {
  /* Подвал */

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    background-size: cover;
    flex-flow: 1;
  }

  .footer__container {
    align-items: center;
    justify-content: space-around;
  }

  .footer__info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #757E9A;
  }

  .copyright-bold {
    font-weight: 700;
  }

  .footer__callback {
    box-sizing: border-box;
    align-items: center;
    line-height: 16px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1499px) and (min-width: 1024px) {
  /* Подвал */

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    margin-top: 50px;
    background-size: cover;
    flex-flow: 1;
  }

  .footer__container {
    align-items: center;
    justify-content: space-around;
  }

  .footer__info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #757E9A;
  }

  .copyright-bold {
    font-weight: 700;
  }

  .footer__callback {
    box-sizing: border-box;
    align-items: center;
    line-height: 16px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1500px) {
  /* Подвал */

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    margin-top: 50px;
    background-size: cover;
    flex-flow: 1;
  }

  .footer__container {
    align-items: center;
    justify-content: space-around;
  }

  .footer__info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #757E9A;
  }

  .copyright-bold {
    font-weight: 700;
  }

  .footer__callback {
    box-sizing: border-box;
    align-items: center;
    line-height: 16px;
    width: 100%;
    text-align: center;
  }
}