@media screen and (min-width: 360px) {

  .todo-list {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    overflow-y: scroll;
  }
  
  .todo {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   height: fit-content;
 

  }
  
  .delete-button {
    display: flex;
    margin: 0px 30px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10px;
    background: #3D4F9F;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    color: #FFFFFF;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background: #5E81FE;
    cursor: pointer;
  }
  
  .empty {
    font-size: 14px;
    font-weight: 400;
    color: #3D4F9F;
    letter-spacing: 0.2rem; 
  }
  
  ul {
    padding-inline-start: 0;
    list-style: none;
    margin-bottom: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  li {
    width: 70%;
    padding: 0.5em;
    text-align: left;
    height: 25px;
    margin-bottom: 10px;
    background: #5E81FE;
    color: #FFFFFF;
    transition: all 0.3s ease-out;
    border-left: 5px solid #3D4F9F;
  }
  
  li:last-child {
    margin-bottom: 0px;
  }
  }

@media screen and (min-width: 1500px) {
.todo-list {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.todo {
 display: flex;
 flex-direction: row;
 width: 100%;
 align-items: center;
}

.delete-button {
  display: flex;
  margin: 0px 30px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 5px 10px;
  background: #3D4F9F;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  color: #FFFFFF;
  flex-wrap: nowrap;
  cursor: pointer;
}

.delete-button:hover {
  background: #5E81FE;
  cursor: pointer;
}

.empty {
  font-size: 16px;
  font-weight: 400;
  color: #3D4F9F;
  letter-spacing: 0.2rem; 
}

ul {
  padding-inline-start: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  width: 50%;
  padding: 0.5em;
  text-align: left;
  height: 25px;
  margin-bottom: 10px;
  background: #5E81FE;
  color: #FFFFFF;
  transition: all 0.3s ease-out;
  border-left: 5px solid #3D4F9F;
}

li:last-child {
  margin-bottom: 0px;
}
}