html {
  font-style: normal;
  background: #FFFFFF;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Regular.woff2");
}

@media screen and (max-width: 1023px) and (min-width: 360px) {

  .container {
    max-width: 100%;
    padding: 0px 5px 0px 5px;
    font-size: 10px;
    display: flex;
    flex-grow: 1;

  }

  .main__container {

    width: 100%;
    height: 100%;
    margin-top: 20px;

  }
  .tasks {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #F5F8FF;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid #845eb4;
    min-height: 400px;
    min-width: 300px;
  }

  .tasks__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .item {
    width: 90%;
    border: 2px solid #52248b;
    padding: 10px;
    border-radius: 6px;
    margin: 5px 5px;
    cursor: grab;
    background-color: #845eb4;
  }

.add-task {
    margin: 20px;
  align-items: left;
}

.add-task__btn {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #845eb4;
    border: 2px solid #52248b;
}

.boards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.first-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


}

@media screen and (min-width: 1500px) {

  .container {
    display: flex;
    flex-grow: 1;
    max-width: 1500px;
    padding: 0px 50px 0px 50px;
    font-size: 1em;
    margin: 0 auto;

  }

  .main__container {

    width: 100vw;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .tasks {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #F5F8FF;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid #845eb4;
    min-height: 400px;
    min-width: 300px;
  }

  .tasks__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .item {
    width: 90%;
    border: 2px solid #52248b;
    padding: 10px;
    border-radius: 6px;
    margin: 5px 5px;
    cursor: grab;
    background-color: #845eb4;
  }

.add-task {
    margin: 20px;
  align-items: left;
}

.add-task__btn {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #845eb4;
    border: 2px solid #52248b;
}

.boards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.first-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

}