@media screen and (min-width: 360px) {
  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    border: 2px dashed #3D4F9F;
  }

  .dropzone-field {
    width: 80vw;
  height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
  }
}

@media screen and (min-width: 1500px) {
.dropzone {
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  border: 2px dashed #3D4F9F;
}

.dropzone-field {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.added-files {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #3D4F9F;
  letter-spacing: 0.2rem; 
  gap: 10px;

}

.delete-button__files {
  cursor: pointer;

}

.delete-button__files:hover {
  color:#5E81FE;
}
}