html {

  font-style: normal;
  background: #FFFFFF;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Regular.woff2");
}

.link {
  color: #5E81FE;
  text-decoration-line: none;
}

.link:hover {
  color: #F36223;
  cursor: pointer;
}

.link:active {
  color: #A93A09;
}

.body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-size: 16px;
}


/* Mobile */

@media screen and (max-width: 1023px) and (min-width: 360px) {

  .container {
    max-width: 100%;
    padding: 0px 5px 0px 5px;
    font-size: 10px;
    display: flex;
    flex-grow: 1;

  }

  .main__container {

    width: 100%;
    height: 100%;
    margin-top: 20px;

  }
  
  .main__project-choice {
    color: #3D4F9F;
    font-size: 30px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1499px) and (min-width: 1024px) {

  .container {
    max-width: 1024px;
    padding: 0px 15px 0px 15px;
    display: flex;
    flex-grow: 1;
  }

  .main__container {

    width: 100%;
    margin-top: 40px;
    height: 100%;
  }

  .main__project-choice {
    color: #3D4F9F;
    font-size: 30px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1500px) {

  .container {
    display: flex;
  
    flex-grow: 1;
    max-width: 1500px;
    padding: 0px 50px 0px 50px;
    font-size: 1em;
  }

  .main__container {

    width: 100%;
    margin-top: 40px;
    height: 100%;
    
  }

  .main__project-choice {
    color: #3D4F9F;
    font-size: 30px;
    font-weight: 700;
  }
}